/* author: matt briggs */
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* color palette (dark theme) */
:root {
    --clr-dark: #0a1011;
    --clr-grn: #0c221d;
    --clr-turq: #5ca2a2;
    --clr-neonturq: #15f4ee;
    --clr-light: #bbd1d5;
    --clr-gray: #4a494a;
}

/* @all */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--clr-light);
}

/* defaults */
html {
    background-color: var(--clr-dark);
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
    scroll-padding: 5vh;
}

/* navigation bar */
nav a, nav ul, nav li {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}
nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 8vw;
}
.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding: 0 2vw;
    height: 100%;
}
.nav-links a:hover {
    color: white;
    transition: 0.4s ease;
    text-shadow: 0 0 5px white;
}
.logo {
    font-family: "Major Mono Display";
    color: var(--clr-turq);
    padding: 5px;
    border: 1px solid var(--clr-turq);
    
}
.nav-buttons a {
    padding: 0 2vw;
    position: relative;
}
.nav-buttons a:hover {
    color: white;
    text-shadow: 0 0 5px white;
    transition: 0.4s ease;
}

/* section one */
.sect-one {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background-image: url("images/wu-yi-Bfrk9RCOhRE-unsplash.jpg");
    background-size: cover;
}
.content-one {
    line-height: 160%;
    width: 33%;
    background: var(--clr-dark);
    opacity: 0.5;
    padding: 2rem;
    height: 100%;
    overflow: scroll;
}
.suggest {
    color: var(--clr-turq);
}