/* import Indie Flower (display), Roboto (sans-serif), Cabin (sans-serif) */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&family=Roboto:wght@100;300;400;700&display=swap');

*, *::after, *::before {
    /* default font */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-weight: 300;
    margin-left: 0;
    margin-right: 0;
}
.announcement-bar {
    height: 5vh;
    display: grid;
    place-items: center;
    letter-spacing: .1em;
    border-bottom: 1px solid gray;
}
/* Nav */
ul {
    list-style-type: none; 
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
nav ul > * {
    margin: 0 1em;
}
nav .logo {
    margin-right: auto;
    font-size: 1.5em;
}
.logo::after {
    content: 'delicacies';
    font-family: 'Indie Flower', cursive;
}
nav a {
    text-decoration: none;
    color: black;
    transition: color 200ms ease-out;
}
nav a:visited {
    color: black;
}
nav a:hover {
    color: hsl(194, 25%, 42%);
}

/* img / header */
.heading {
    display: grid;
    place-items: center;
    color: white;
    font-size: 1.3em;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    text-align: center;
    height: 70vh;
    /* Photo by <a href="https://unsplash.com/@mnzoutfits?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Mnz</a> on <a href="https://unsplash.com/s/photos/clothing?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
    background-image: -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0.373) 80%, rgba(0, 0, 0, 0.575)), url(images/mnz-AIE1_Kp5Zp4-unsplash.jpg);
    background-image: -moz-linear-gradient(135deg, rgba(0, 0, 0, 0.373) 80%, rgba(0, 0, 0, 0.575)), url(images/mnz-AIE1_Kp5Zp4-unsplash.jpg);
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.373) 80%, rgba(0, 0, 0, 0.575)), url(images/mnz-AIE1_Kp5Zp4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 8vh;
    padding: 0 2.5%;
}

/* Cards */
.content-header {
    text-align: center;
    width: 100%;
    padding: 0 2%;
}
.content-header span {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, hsl(350, 100%, 70%), hsl(300, 76%, 70%), hsl(275, 100%, 70%));
}
.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5em;
    width: 100%;
    margin: 0 auto;
    transition: all 200ms linear;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
.card p {
    padding: 1em;
    max-width: 60ch;
    font-size: 1.1em;
}
.card img {
    flex: 1 1 auto;
    height: 100%;
    border: 2px solid rgb(52, 63, 161);
    width: 100%;
    object-fit: cover;
    transition: all 500ms ease-out; 
}
.card img:hover {
    transform: translate(10px, 10px);
}
.card .img-backdrop {
    background-color: rgb(250, 235, 215);
}
.card a:visited {
    color: black;
}
.card a, .card p {
    text-align: center;
    flex: 1 1 auto;
}
.card a {
    font-family: 'Cabin', sans-serif;
    margin-top: 1em;
    font-size: 2em;
    font-weight: 600;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.card a::after {
    content: '';
    position: absolute;
    border-radius: 20px;
    width: 0%;
    height: 5px;
    bottom: -10px;
    left: 50%;
    transition: all 500ms ease-in-out;
}
.card a:hover::after {
    width: 100%;
    left: 0;
}
.card1 a {
    background-image: linear-gradient(to right, hsl(163, 61%, 70%), hsl(283, 60%, 70%));
    text-shadow: 5px 5px 10px rgba(9, 0, 128, 0.53);
}
.card1 a::after {
    background-image: linear-gradient(to right, hsl(163, 61%, 70%), hsl(283, 60%, 70%));
}
.card2 a {
    background-image: linear-gradient(to right, hsl(42, 50%, 66%), hsl(0, 0%, 11%));
    text-shadow: 5px 5px 10px rgba(98, 98, 42, 0.53);
}
.card2 a::after {
    background-image: linear-gradient(to right, hsl(42, 50%, 66%), hsl(0, 0%, 11%));
}
.card3 a {
    background-image: linear-gradient(to right, hsl(304, 100%, 68%), hsl(27, 74%, 68%));
    text-shadow: 5px 5px 10px rgba(238, 32, 87, 0.53);
}
.card3 a::after {
    background-image: linear-gradient(to right, hsl(304, 62%, 56%) 40%, hsl(27, 74%, 68%)); 
}
/* card media */
@media (min-width: 600px) {
    .cards {
        padding: 3em 10%;
        grid-template-columns: repeat(auto-fit, minmax(45ch, 1fr));
    }
    .card img,
    .card .img-backdrop {
        border-radius: 20px 0;
    }
}