/* author: matt briggs */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
    
}
.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    font-family: 'Courier New', Courier, monospace;
}
.calculator > button {
    cursor: pointer;
    font-size: 2rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.247);
    outline: none;
    font-family: 'Courier New', Courier, monospace;
}
.calculator > button:hover {
    opacity: .9;
}
.calculator > button.operator:active,
.calculator > button.special:active,
.calculator > button.number:active {
    background-color: rgba(255, 255, 255, 0.8);
}
.calculator > button.number {
    background-color: rgba(146, 146, 146, 0.7);
}
.calculator > button.operator {
    background-color: rgba(255, 7, 7, 0.6);
}
.calculator > button.special {
    background-color: rgba(100, 100, 100, 0.7);
}
.calculator .output {
    grid-column: 1 / -1;
    word-wrap: break-word;

    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding-right: 5px;

    background-color: rgba(71, 71, 71, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.247);
    border-bottom: none;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;

    color: white;
    font-size: 2rem;
}
.calculator .span-two {
    grid-column: span 2;
}
.calculator .number0 {
    border-bottom-left-radius: 1rem;
}
.calculator .equals {
    border-bottom-right-radius: 1rem;
}